@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Spartan:wght@100;300;400;800;900&display=swap');

$font-color-title: rgb(0,0,0);
$font-color-title-2: rgb(45,45,45);
$font-color-checked: rgb(254,251,249);
$font-color-profit: rgb(41, 168, 18);
$font-color-error: rgb(239,43,43);
$bg-btn: rgb(150,150,150);
$bg-btn-2: rgb(237,142,83);
$bg-card: rgb(244,244,244);
$bg-main: rgb(239,239,239);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "roboto", sans-serif;;
}

body {
    max-width: 100vw;
    max-height: 100vh;
}

input, label, input:focus, label:focus {
    border: none;
    outline: none;
    background-color: transparent;
}

h2 {
    margin: 13px 0 13px 0;
    font-size: 1.5rem;
}

.main-container {
    background-color: $bg-main;

    width: 100%;
    max-width: 1300px;
    height: 580px;

    margin: 0 auto;
    margin-top: 2%;
    display: grid;
    grid-template: 
    "h1 h1" 1fr
    "sec1 sec2" 6fr
    /4fr 6fr
    ;
}

.main-title {
    grid-area: h1;
    padding: 20px;
    text-align: center;
}

.section-1 {
    grid-area: sec1;
    padding: 0 40px 0 40px;
}

.box-title, label {
    font-size: .8rem;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    column-gap: 85px;

    color: $font-color-title-2;
}

.radio-container {
    display: flex;
    justify-content: center;
    text-align: center;

    div:first-of-type {
        border-radius: 5px 0 0 5px;
    }

    div:last-of-type {
        border-radius: 0 5px 5px 0;
    }
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        width: 50%;
        
        border: 1px solid black;
    

        label {
            cursor: pointer;
            padding: 10px;
        }
        
        input[type="radio"] {
            opacity: 0;
            width: 0;
            cursor: pointer;
        }

    }
}



.form-box {
    display: grid;
    height: 75px;

    input[type="text"] {
        padding: 10px 0;
        background-color: transparent;
        border-bottom: 1.2px solid black;
        font-size: 1.1rem;

        width: 200px;
        display: block;
        margin: 0;
    }
}

#aporte-inicial:invalid {
    background-color: aqua;
}

.box-title {
    padding: 10px 0 5px 0;
}

.btn-container {
    grid-column: 1/3;
    display: flex;
}

.btn {
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 60px;
    font-size: 1.3rem;

    border-radius: 8px;
    
}

.clear {
    border: 1px solid black;
    margin-right: 10px;
}

.submit {
    background-color: $bg-btn;
}

//section 2 

.section-2 {
    grid-area: sec2;
    padding: 0 40px 0 40px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 50px;

    margin-top: 30px;

    :nth-child(4), :nth-child(6) {

        p {
            color: $font-color-profit;
            font-weight: 500;
        }
    }

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $bg-card;
    text-align: center;
    width: 100%;
    height: 75px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);

    h3{
        font-weight: 600;
    }

    h3, p {
        font-size: 1rem;
        padding: 6px 0 6px 0;
    }

}



.graphic-container {
    height: 200px;
    background-color: rgb(28, 184, 184);
}

.checked {
    background-color: $bg-btn-2;
    color: $font-color-checked;

    :nth-child(2) {
        font-weight: 900;
    }

    :nth-child(3) {
        padding: 0;
    }
}
